<section class="basis"
  ng-class="{blockUI: $ctrl._cacheSrv.general.blockUI}"
  layout="column"
  layout-align="start stretch">

  <!-- <md-toolbar class="basisHeader"
    layout="row"
    layout-align="center center">

    <div class="basisInfo"
      layout="row"
      layout-align="start center">
        <div class="logo hexMask"
          role="button"
          ng-click="$ctrl.refreshInbox()"
          md-colors="{backgroundColor: 'light-blue-A400'}"
          layout="row"
          layout-align="center center">
            <span>{{::$ctrl._cacheSrv.username.substr(0, 2)}}</span>
        </div>
        <div class="username"
          layout="column"
          layout-align="center start">
          <span>
            {{::$ctrl._cacheSrv.username.split("@")[0]}}
          </span>
          <span>
            @{{::$ctrl._cacheSrv.username.split("@")[1]}}
          </span>
        </div>
    </div>

    <div class="basisTab"
      layout="row"
      layout-align="center center">
      <md-tabs md-selected="$ctrl._cacheSrv.general.appSelected"
        md-stretch-tabs="always"
        md-no-ink-bar
        md-no-pagination="true">
        <md-tab ng-click="$ctrl.goApp('chat')"
          ng-disabled="false">
          <md-tab-label>
            <ng-md-icon icon="chat" size="24"></ng-md-icon>
            <div ng-if="$ctrl._cacheSrv.chats.unreadChatsQuantity > 0"
              class="basis__app-info">
              {{$ctrl._cacheSrv.chats.unreadChatsQuantity}}
            </div>
          </md-tab-label>
        </md-tab>
        <md-tab ng-click="$ctrl.goApp('mail')">
          <md-tab-label>
            <ng-md-icon icon="mail_outline" size="24"></ng-md-icon>
            <div ng-if="$ctrl._cacheSrv.messages.unreadMsgQuantity > 0"
              class="basis__app-info">
              {{$ctrl._cacheSrv.messages.unreadMsgQuantity}}
            </div>
          </md-tab-label>
        </md-tab>
        <md-tab ng-click="$ctrl.goApp('contacts')"
          ng-disabled="false">
          <md-tab-label>
            <ng-md-icon icon="person_outline" size="24"></ng-md-icon>
          </md-tab-label>
        </md-tab>
        <md-tab ng-click="$ctrl.goApp('storage')"
          ng-disabled="false">
          <md-tab-label>
            <ng-md-icon icon="cloud_queue" size="24"></ng-md-icon>
          </md-tab-label>
        </md-tab>
      </md-tabs>
    </div>

    <div class="basisAction"
      layout="row"
      layout-align="end center">
      <md-button class="md-icon-button"
        aria-label="notifications"
        ng-disabled="$ctrl._cacheSrv.notifications.list.length === 0"
        ng-click="$ctrl.toggleSideNav('notifications')">
        <ng-md-icon icon="report_problem" size="24"></ng-md-icon>
        <div ng-if="$ctrl._cacheSrv.notifications.list.length > 0" 
          class="notif-qt">
          {{$ctrl._cacheSrv.notifications.list.length}}
        </div>
      </md-button>
      <md-button class="md-icon-button"
        aria-label="search"
        ng-disabled="true">
        <ng-md-icon icon="search" size="24"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button"
        aria-label="hash"
        ng-click="$ctrl.runTagService()">
        <ng-md-icon icon="label_outline" size="24"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar> -->

  <section class="sidenav md-whiteframe-4dp"
    ng-class="{sidenavOpen: $ctrl.sideNav.isOpen}">

    <notifications ng-if="$ctrl.sideNav.isShow &&  ($ctrl.sideNav.content === 'notifications')">
    </notifications>

  </section>


  <div class="basisContent" ui-view></div>

  <md-progress-linear md-mode="indeterminate"
    ng-if="$ctrl._cacheSrv.general.progressBar"
    class="prBar">
  </md-progress-linear>
</section>
