@import '../../../config';
.basis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.blockUI {
    pointer-events: none;
  }

  .prBar {
    position: absolute;
    z-index: 50;

    .md-mode-indeterminate {
      background-color: #3675a8;
    }

    .md-bar1, .md-bar2 {
      background-color: #ffc765;
    }
  }

  .basisHeader {
    min-height: 72px;
    max-height: 72px;
    height: 72px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: $color12 !important;

    .basisInfo {
      position: relative;
      height: 100%;
      width: 33%;
      -webkit-user-select: none;

      .logo {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 13px 0 19px;
        cursor: pointer;

        span {
          font-size: 16px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
          color: #ffffff;
        }

      }

      .username {
        position: relative;
        width: calc(100% - 72px);
        font-weight: bold;
        overflow-x: hidden;

        span:first-child {
          font-size: 16px;
        }

        span:last-child {
          font-size: 12px;
          font-style: italic;
        }
      }
    }

    .basisTab {
      position: relative;
      height: 100%;
      width: 33%;

      md-tabs {
        width: 80%;
        max-width: 560px !important;

        md-tabs-canvas {
          height: 72px;

          md-pagination-wrapper {
            height: 100%;

            md-tab-item {
              width: 95px;
              padding: 0px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;
              position: relative;
              border-bottom: 3px solid $color12;

              ng-md-icon {
                svg {
                  fill: rgba(255, 255, 255, 0.7) !important;
                }
              }

              &.md-active {
                border-bottom: 3px solid #ffc765;

                ng-md-icon {
                  svg {
                    fill: rgba(255, 255, 255, 1) !important;
                  }
                }
              }

              ng-md-icon {
                svg {
                  fill: white;
                }
              }
            }
          }
        }
      }
    }

    .basisAction {
      position: relative;
      height: 100%;
      width: 33%;

      button {
        width: 48px;
        min-width: 48px;
        height: 48px;
        margin: 0;
        padding: 0;
      }

      .notif-qt {
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        top: 4px;
        right: 10px;
        color: $color14;
      }
    }
  }

  &__app-info {
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: $color14;
    top: 18px;
    left: calc(50% + 12px);
  }

  .sidenav {
    position: absolute;
    background-color: #ffffff;
    height: calc(100% - 72px);
    top: 72px;
    right: -420px;
    width: 25%;
    min-width: 285px;
    max-width: 400px;
    overflow-y: auto;
    z-index: 100;
    -webkit-transition: right 400ms ease-in-out;
    transition: right 400ms ease-in-out;

    &.sidenavOpen {
      right: 0;
    }
  }

  .basisContent {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 12px;

    mail-app {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
    }
  }

}
