@import '../../config';

.storage-actions {
  position: relative;
  width: 190px;
  height: 100%;

  &__no-selection {
    position: relative;
    width: 100%;
    height: 44px;
    text-align: center;
    font-size: 16px;
    color: $color01;
    line-height: 44px;
  }

  &__create-folder {
    position: relative;
    width: 100%;

    &-title {
      position: relative;
      width: 100%;
      height: 44px;
      padding: 0 16px;
      background-color: rgba(0, 0, 0, 0.09);
      font-size: 16px;
      color: $color01;
      line-height: 44px;
    }

    &-edit {
      position: relative;
      width: 100%;
      height: 48px;
      padding: 0 0 0 16px;
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      input {
        position: relative;
        width: calc(100% - 48px);
        border: none;
        outline-width: 0;
        background-color: transparent;
        font-size: 16px;
      }

      .ok, .cancel {
        position: relative;;
        margin: 0;
        padding: 0;
        ng-md-icon {
          width: 18px;
          height: 18px;
        }
      }

      .ok {
        ng-md-icon {
          fill: $color06;
        }
      }

      .cancel {
        ng-md-icon {
          fill: $color05;
        }
      }
    }
  }

  &__show {
    position: relative;
    width: 100%;
    
    &-title {
      position: relative;
      width: 100%;
      height: 44px;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      button {
        position: absolute;
        min-width: 24px !important;
        width: 24px !important;
        min-height: 24px !important;
        height: 24px !important;
        margin: 0 !important;
        padding: 0 !important;
        top: 10px;
        right: 12px;

        svg {
          fill: $color01;
        }
      }
    }

    &-single {
      &--label {
        padding: 0 16px;
        font-weight: bold;
        color: $color01;
        font-size: 14px;

        &.inline {
          display: inline-block;
          padding-right: 0;
        }
      }
      &--text {
        padding: 0 16px;
        font-style: italic;
        color: $color02;
        word-wrap: break-word;
        font-size: 12px;

        &.inline {
          display: inline-block;
          padding-left: 4px;
          padding-right: 0;
        }
      }
    }

    &-btns {
      position: relative;
      width: 100%;
      padding: 8px 16px;

      button {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-height: 32px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        margin: 16px 0;

        &.md-raised.primary {
          color: $color13;
        }
        &.md-raised.success {
          color: $color06;
        }
        &.md-raised.warn {
          color: $color05;
        }
      }
    }
  }
}