<md-toast layout="row"
    layout-align="space-between center"
    class="msg-toast">
    <div class="md-toast-text"
        layout="column"
        layout-align="center start"
        ng-class="{msgSuccess: $ctrl.info.status === 'success', msgError: $ctrl.info.status !== 'success'}">
        <p ng-repeat="item in $ctrl.info.errors">
            {{item.error}}
        </p>
    </div>
    <!--<md-button class="md-icon-button"
        aria-label="close"
        ng-click="$ctrl.closeToast()">
        <ng-md-icon icon="close"></ng-md-icon>
    </md-button>-->
</md-toast>
