<section class="storage-create-dialog">
  <md-button class="md-icon-button storage-create-dialog__closeBtn"
    aria-label="close modal"
    ng-click="close()">
    <ng-md-icon icon="close" size="24"></ng-md-icon>
  </md-button>
  <div class="storage-create-dialog__tooltip">
    Create
  </div>
  <div class="storage-create-dialog__action">
    <md-button class="storage-create-dialog__action-btn btn-folder"
      aria-label="create folder" 
      ng-click="action('folder')">
      <ng-md-icon icon="folder" size="48"></ng-md-icon>
      Folder
    </md-button>
    <md-button class="storage-create-dialog__action-btn btn-upload"
      aria-label="upload files"
      ng-click="action('upload')">
      <ng-md-icon icon="file_download" size="48"></ng-md-icon>
      Upload
    </md-button>
  </div>
</section>