@import '../../config';

.storage-favorites {
  position: relative;
  width: 190px;
  height: 100%;
  background-color: transparent;
  padding-top: 8px;

  &__title {
    position: relative;
    width: 100%;
    height: 36px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    user-select: none;

    ng-md-icon {
      position: relative;
      width: 18px;
      height: 18px;
      margin: 0 16px 0 0;
      user-select: none;

      svg {
        width: 18px;
        height: 18px;
        fill: $color12;
      }
    }

    &-text {
      position: relative;
      display: inline-block;
      width: calc(100% - 34px);
      user-select: none;
      font-size: 14px;
      color: $color01;
    }
  }

  &__body {
    position: relative;
    width: 100%;
    max-height: calc(100% - 52px);
    overflow-y: auto;

    &-item {
      position: relative;
      width: 100%;
      height: 32px;
      padding: 0 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      color: $color01;
      cursor: pointer;
      outline-width: 0;
    }
  }
}