$color00: rgba(0, 0, 0, 0.05);
$color01: rgba(0, 0, 0, 0.87);
$color02: rgba(0, 0, 0, 0.54);
$color03: rgba(0, 0, 0, 0.12);
$color04: #ff5722;
$color05: #f44336;
$color06: #4caf50;
$color07: #455a64;
$color08: #607d8b;
$color09: #81d4Fa;
$color10: rgba(0, 0, 0, 0.38);
$color11: rgba(0, 0, 0, 0.67);
$color12: #3675a8;
$color13: #195f97;
$color14: #ffc765;
$color15: #e3ecf2;
$color16: #b3cbde;
$color17: #e57373;
$color18: #4faaf4;
$color19: #323232;
$color20: #9fd0f9;
$selectedColor: rgba(160, 209, 249, 0.54);


@mixin button3n($color) {
  font-weight: bold;
	background-color: $color;
	color: #ffffff !important;
	padding: 0 16px;
	cursor: pointer;

	&:hover, &:focus {
		background-color: darken($color, 5%) !important;
	}

  &[disabled] {
    background-color: lighten($color, 20%) !important;
  }
}
