@import "config";

@font-face {
  font-family: "OpenSans";
  src: url("./lib-ext/fonts/opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./lib-ext/fonts/opensans-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./lib-ext/fonts/opensans-semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./lib-ext/fonts/opensans-semibolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}


body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
	font-family: OpenSans, Roboto, sans-serif;

  .general {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .start-info {
      position: absolute;
      width: 80%;
      height: 100px;
      top: calc(50% - 50px);
      left: 10%;

      h3 {
        text-align: center;
        margin: 0;
      }
    }
  }

}

div, button, section, p {
  box-sizing: border-box;
}

.md-scroll-mask {
  position: initial;
}

.hexMask {
	-webkit-clip-path: polygon(20px 40px, 2.68px 30px, 2.68px 10px, 20px 0px, 37.32px 10px, 37.32px 30px);
}

.hex2Mask {
	-webkit-clip-path: polygon(20px 40px, 15.36px 37.32px, 10px 37.32px, 7.32px 32.68px, 2.68px 30px, 2.68px 24.64px, 0px 20px, 2.68px 15.36px, 2.68px 10px, 7.32px 7.32px, 10px 2.68px, 15.36px 2.68px, 20px 0px, 24.64px 2.68px, 30px 2.68px, 32.68px 7.32px, 37.32px 10px, 37.32px 15.36px, 40px 20px, 37.32px 24.64px, 37.32px 30px, 32.68px 32.68px, 30px 37.32px, 24.64px 37.32px);
}

.quote {
  margin-left: 10px !important;
  padding-left: 15px !important;
  border-left: 1px solid $color13;
}

button[disabled="disabled"] {
  cursor: not-allowed !important;
}


/* стилизация полосы прокрутки */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.15);
}

/* внешний вид системных сообщений */
.success-toast {
  .md-toast-content {
    background-color: #C8E6C9 !important;
    color: #1b5e20 !important;
  }
}

.error-toast {
  .md-toast-content {
    background-color: #FFCDD2 !important;
    color: #b71c1c !important;
  }
}

.info-toast {
  .md-toast-content {
    background-color: #BBDEFB !important;
    color: #0D47A1 !important;
  }
}

/* внешний вид диалогового окна подтверждения удаления */
md-dialog[aria-label="delete dialog"] {
  text-align: center;

  md-dialog-content {
    .md-title {
      font-weight: bold;
    }
  }

  // md-dialog-actions {
  //   justify-content: space-around !important;
  // }

  .md-cancel-button {
    @include button3n($color05);
  }

  .md-confirm-button {
    @include button3n($color06);
  }
}

/* двойная кнопка */
.btn-double {
  position: relative;
  height: 40px;
  min-width: 64px;
  // box-shadow: 0 0 2px 2px $color03;
  margin: 0 0 0 8px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  span {
    position: relative;
    display: block;
    font-size: 16px;
    font-size: bold;
    color: $color02;
  }

  ng-md-icon {
    fill: $color01;
    margin: 0;
  }

  &:hover {
    background-color: #ffffff !important;
    box-shadow: 0 0 2px 2px $color03;
  }
}

/* кнопка удаления в chip */
md-chip {
  .md-chip-remove {
    md-icon {
      min-width: 18px;
      min-height: 18px;

      svg {
        width: 18px;
        height: 18px;
        fill: $color10;
      }
    }
  }
}

md-chip.md-focused {
  color: $color17 !important;
}

md-chips {
  md-chips-wrap {
    &.md-focused {
      box-shadow: none !important;
    }
  }
}

/* переопределение css для quill */
.ql-container {
  .ql-editor {
    blockquote {
      margin-top: 0;
      margin-bottom: 0;
      border-left-width: 2px;
    }
  }
}

.ql-toolbar {
  .ql-formats {
    .ql-font {
      .ql-picker-options {
        top: -88px;
      }
    }

    .ql-align {
      .ql-picker-options {
        top: -106px;
      }
    }

    .ql-color, .ql-background {
      .ql-picker-options {
        top: -108px;
      }
    }

  }
}

/* стилизация полосы прокрутки */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.15);
}

.success-toast {
  .md-toast-content {
    background-color: #C8E6C9 !important;
    color: #1b5e20 !important;
  }
}

.error-toast {
  .md-toast-content {
    background-color: #FFCDD2 !important;
    color: #b71c1c !important;
  }
}

.info-toast {
  .md-toast-content {
    background-color: #BBDEFB !important;
    color: #0D47A1 !important;
  }
}