@import "../../../config";

.emoji {
  position: relative;
  width: 380px;
  max-height: 95%;
  height: 95%;

  &__toolbar {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 0 0 0 16px;
    background-color: $color12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-name {
      font-size: 16px;
      color: #ffffff;
    }

    .btn-close {
      min-width: 48px;
      width: 48px;
      min-height: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      z-index: 2;

      ng-md-icon {
        fill: #ffffff;

        svg {
          stroke: rgba(0, 0, 0, 0.3);
          stroke-width: 1px;
        }
      }
    }
  }

  &__list {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    overflow-y: auto;
    background-color: #ffffff !important;

    &-subheader {
      font-weight: bold;
      background-color: #eaeaea;
    }

    &-item {
      position: relative;
      min-height: 32px;
      height: 32px;
      padding: 0;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        background-color: $selectedColor;
      }

      button {
        z-index: 100;
      }

      .md-button, .md-list-item-inner {
        min-height: 32px;
        height: 32px;
      }

      &__emoji {
        position: relative;
        height: 32px;
        margin-right: 10px;
      }

      &__note {
        position: relative;
        height: 32px;
        width: calc(100% - 36px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: $color02;
      }

      &__emoji, &__note {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

}